@media only screen and (max-width: 38rem) {

    body {
        font-size: 0.8rem;
    }


    .header {
        padding: 0.2rem 1rem 0.2rem 1rem;
    }

    /**footer**/
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer-content {
        max-width: 1200px;

        
    }

}