@media only screen and (max-width: 38rem) {

    body {
        font-size: 0.8rem;
        min-width: 320px;
        min-height: 400px;
    }


    .header {
        padding: 0.2rem 1rem 0.2rem 1rem;
    }
    .social-media span {
    font-size: 1em;
    font-weight: bold;
}
    .social-icons img {
    padding: 2px;
}


}