
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dad7cd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #b9c7a2;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

figure {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    background-color: #b9c7a2;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 0 8px 8px 0;
}
