/****************DESIGN BRIEF****************/

/*
Design Brief
Primary Color  #7B4019 — for nav bars, headings, and key buttons
Secondary Color #ca7034
Background Color: #- Support colors: #f3f0ea, #faeed6, #ca7034 #FFBF78 and #FFEEA9 — for backgrounds, cards, and hover states
Text Color #2B2B2B or #3A3A3A — deep charcoal gray

Font Family:
Serif Fonts (Traditional, Trustworthy):
Merriweather: Classic yet modern; excellent readability for body text or headers
Libre Baskerville: Elegant and professional; great for formal tone.
Georgia:Web-safe, timeless, and easy to read

Sans Serif Fonts (Modern, Clean):
Open Sans: Clean, modern, and easy to read; great for body text or headers
Roboto: Clean, modern, and easy to read; great for body text or headers
Montserrat: Clean, modern, and easy to read; great for body text or headers

CHAMBER PAGE 

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebe5d9; 
    color:  #7B4019;
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 423;
    min-width: 320px;
}







