/***************Footer*******************/
footer {
    background-color: #7B4019; 
    color:  #FFFFFF; 
    padding: 2rem 1rem;
    font-size: 0.9rem;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem; 
}
.footer-content > div {
    flex: 1 1 250px;
    min-width: 200px;
}

#footer-logo {
    max-width: 100px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

footer span {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: bold;
    color:  #FFFFFF;    
}
/***********Social media icons************/
.footer-content .social-media img {
    min-width: 30px;
    min-height: 30px;
    padding: 10px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.social-media p {
    margin: 0.5rem 0;
    max-width: 300px;
}


.social-media a:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(27%) saturate(468%) hue-rotate(97deg) brightness(91%) contrast(88%);
}

/***contact-us***/

.contact-us {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color:  #FFFFFF;    
}
.contact-us h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #FFFFFF;
}

/****quick-links****/

.quick-links {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    color:  #FFFFFF; 
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.quick-links ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
.quick-links li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.quick-links a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color:  #FFFFFF;
    transition: color 0.3s ease;


}
.quick-links a:visited {
    color: #fa8c59;
}
.quick-links a:hover {
    color: #FFEEA9;
    font-weight: bold;  
}
/****newsletter****/
.newsletter input[type="email"] {
    padding: 0.5rem;
    width: 100%;
    max-width: 250px;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 4px;
}
.newsletter {
    text-align: center;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    color: #FFFFFF;
}
.newsletter p {
    margin: 0.5rem 0 0.5rem 0;
}

#subscribe-footer {

    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: #7B4019;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

/*****about me****/
.about-me {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #FFEEA9;
}