

/***************Footer*******************/


footer {
    background-color: #7B4019; 
    color:  #FFFFFF; 
    padding: 2rem 1rem;
    font-size: 0.9rem;
    width: 100%;
}

footer>img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    font-style: italic;
    padding: 1rem 1rem;
}
.social-media span {
    font-size: 1.5em;
    font-weight: bold;
}

.social-icons img {
    padding: 10px;
}


.social-media a:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(27%) saturate(468%) hue-rotate(97deg) brightness(91%) contrast(88%);
}



.quick-links {
    text-align: center;
    cursor: pointer;
}
.contact-us>h2,.quick-links>h3, .newsletter h4 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.quick-links a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color:  #FFFFFF;
    transition: color 0.3s ease;


}
.quick-links a:visited {
    color: #FFEEA9;
}
.quick-links a:hover {
    color: #FFEEA9;
    font-weight: bold;  
}
/****newsletter****/
.newsletter input[type="email"] {
    padding: 0.5rem;
    width: 100%;
    max-width: 250px;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 4px;
}
.newsletter {
    text-align: center;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    color: #FFFFFF;
}
.newsletter p {
    margin: 0.5rem 0 0.5rem 0;
}

#subscribe-footer {
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: #7B4019;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.about-me {
    color: #FFEEA9;
    font-size: 0.8rem;
    padding: 2px;

}
.contact-us>p, .newsletter p, .newsletter h4  {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
}