/* Final Project Styles- Color Pallete */

:root {
    /* Color Palette */
    --color-text-dark: #000000;          /* Pure Black */
    --color-bg-primary: #80CBC4;         /* Medium Teal */
    --color-bg-secondary: #FBF8EF;       /* Very Light Cream */
    --color-accent-cta: #FFB433;         /* Vibrant Orange/Yellow */
    --color-accent-subtle: #B4EBE6;      /* Light Teal */
    --color-white: #FFFFFF;

    /* Typography */
    --font-heading: 'M PLUS Rounded 1c', sans-serif;
    --font-body: 'Inter', sans-serif;
}

/******Global Reset and Base Styles*****/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: var(--font-body);
    color: var(--color-text-dark);
    background-color: var(--color-bg-primary); /* Primary Background: Medium Teal */
    line-height: 1.6;
    cursor: default;
}
main {
    margin: 0 10px 0 10px;
}



h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--color-text-dark);
    margin-bottom: 0.5em;
    line-height: 1.2;
    cursor: default;
}
p, .hero-text {
    cursor: default;
}

h1 { font-size: 2.8rem; }
h2 { font-size: 2rem; margin-top: 1.5em; }
h3 { font-size: 1.4rem; }


a {
    color: var(--color-text-dark);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-accent-cta); /* Hover brightens to Orange/Yellow */
}
