/* --- 6. Footer --- */

footer {
    background-color: var(--color-accent-subtle); /* Subtle Accent Light Teal */
    color: var(--color-text-dark);
    padding: 25px;
    font-family: var(--font-body);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: auto;
    flex-shrink: 0;
    width: 100%;
    max-height: 300px;
}

.container .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media>a>img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#last-visit, #currentYear, #lastModified {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#last-visit {
    font-size: 1.5rem;
    font-family: var(--font-heading);
    color: var(--color-text-dark);
}
