/* --- 3. Header & Navigation --- */

.main-header .container{
    background-color: var(--color-accent-subtle); /* Subtle Accent Light Teal */
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
}
.title {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 1000;
}
.container>.navigation {
    flex-direction: row;

}
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.navigation ul {
    list-style: none;
    flex-direction: row;
    display: flex;
}


/****Mobile view- Small screens**/

@media (max-width: 768px) {
    /* HAMBURGER MENU STYLES */
    .container {
        position: relative;
    }
    .hamburger {
        display: block; 
    }
    .navigation {
        display: none;
    }
    .navigation li {
    margin-left: 25px;  
    }
    .navigation.show {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-accent-subtle); /* Subtle Accent Light Teal */
        width: 100%;
        height: 200px;
        padding: 10px 0 10px 0;
    }
    .navigation.show ul {
        flex-direction: column;
        align-items: left;
        gap: 15px;
        font-size: 1.2rem;
    }
    .hamburger::before {
    content: '\2630'; /* Unicode for hamburger icon */
    }   
    .hamburger.show::before {
        content: '\00D7'; /* Unicode for close icon */
    }


}



/****Desktop view- Large screens**/
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
        width: auto;
    }
    .navigation.show {
        position: static;
        height: auto;
    }
    .navigation ul {
        gap:35px;
        font-size: x-large;
    }
    .title {
        font-weight: 1500;
        font-size: 2.5rem;
    }
    .container>img {
        width: 200px;
        height: auto;
        padding-left: 50px;
    }
}
