@media only screen and (min-width: 38rem) {

/************** Header Styles for larger screens ****************/
    header, main, footer {
        width: 100%;
        margin: 0 auto;
    }
    header {
    display: grid;
    grid-template-columns: 300px auto 1fr;
    }
    header img {
        width: 300px;
        height: auto;
        padding-top: 0;
        padding-left: 120px;
    }
    header span {
        font-size: 2rem;
    }
    /************** Navigation Bar Styles for larger screens ****************/
    .hamburger {
        display: none;
    }
    .nav-bar{
        display:flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
    .navigation {
        display: block;
    }
    .navigation ul {
        display:flex;
        justify-content: center;
    }
    .navigation ul li {
        margin: 0 25px;
    }

    /**************Main Styles for larger screens****************/
    main {
        max-width: 1400px;
        max-height: 80vh;
        display: grid;
        grid-template-rows: 1fr 3fr;
    }
    div.cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .cards section {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    }
    }
    .profile img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 15px;
    }

}