#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row dense;
    gap: 10px;
}

#cards section {
    background-color: #bdcaa5;
    padding: 10px;
    border: 1px solid #344e41;
    border-radius: 8px;
}
#cards section img {
    width: 100%;
    height: auto;
    border: 1px solid #344e41;
    border-radius: 10px;
}
h1, h2 {
    color: #344e41;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #203a25;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}